<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer _ngcontent-c1="" class="py-5">
  <div _ngcontent-c1="" class="container">
    <div _ngcontent-c1="" class="row align-items-center justify-content-xl-between">
      <div class="col-xl-12">
        <div class="copyright text-center text-xl-center text-muted">
          &copy; {{ test | date: "yyyy" }} <a href="www.tce.pi.gov.br" class="font-weight-bold ml-1" target="_blank">TCE - Tribunal de contas do Estado do Piauí</a>
        </div>
      </div>

    </div>
  </div>
</footer>
