.bg-page-link {
  background-color: #5e72e4 !important;
  color: #fff;
}

.centralizado {
  padding: 10px;
  width: 800%;
  background: #fff;
  margin: 0 auto;
  text-align:center;
}

.form-row > .col, .form-row {
  padding-right: 1px !important;
  padding-left: 1px !important;
}
