<!-- INSERIR COMPONENT DE SPINNER -->
<ngx-spinner bdColor="rgba(0,0,0,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
</ngx-spinner>

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="
    min-height: 515px;
    background-size: cover;
    background-position: center top;
  ">
  <!-- Mask -->
  <span class="mask bg-gradient-primary"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center"></div>
</div>


<!-- CONTAINER-FLUID -->
<div class="container-fluid" style="margin-top: -28rem">

<div class="row">
  <div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">

    </div>
  </div>
</div>
</div>



