<div class="header bg-gradient-primary pb-6 pt-5 pt-md-8">

  <div class="container-fluid" id="div-botoes">

    <div class="header-body">

        <div class="row">
          <div class="col-sm-6 col-md-6 col-xl-6">
            <div class="card shadow card-contagem">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                  <h3 class="mb-0">Quantidade de veículos por Blocos</h3>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <app-line-chart></app-line-chart>
              </div>

            </div>

          </div>

          <!-- CARD LINE DE QUANTIDADE -->
          <div class="col-sm-6 col-md-6 col-xl-6">
            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="mb-0">Apartamentos visitados por Mês</h3>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <app-visitas-apartamento-line-chart></app-visitas-apartamento-line-chart>
              </div>

            </div>
          </div>



        </div>


    </div>
  </div>
</div>
